@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-principal: #202020;
    --cor-destaque: #35485e;
    --cor-texto: #f2f2f2;
    --cor-detalhe: #d2d6da;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: rgb(53, 72, 94);
    background: linear-gradient(90deg, rgba(53, 72, 94, 1) 0%, rgba(45, 87, 135, 0.9724264705882353) 35%, rgba(44, 104, 173, 1) 74%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    height: 60%;
    width: 30%;
    background-color: var(--cor-destaque);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px var(--cor-principal);
}



.title-calculator {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--cor-texto);
}


.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group input {
    margin-bottom: 15px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--cor-detalhe);
}

.input-group input:active {
    border: none;
}

.input-group label,
input,
button {

    width: 20rem;
    padding: 0.5rem;
    font-size: 15px;

}

.input-group label {
    margin-bottom: -5px;
    color: var(--cor-texto);
}


.input-group button {
    margin-top: 10px;
    padding: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--cor-detalhe);
    color: var(--cor-destaque);
}

#result {
    margin-top: 20px;
    margin-left: 30px;
    color: var(--cor-texto);
}